<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUeQy3z5yja9zDCfHurYb2IFQQE-cKS4A</string>
	<key>GCM_SENDER_ID</key>
	<string>768850130724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corentin.robert.LeVestaire</string>
	<key>PROJECT_ID</key>
	<string>levestiaire-abeca</string>
	<key>STORAGE_BUCKET</key>
	<string>levestiaire-abeca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768850130724:ios:12b619641c26b213d8e5b1</string>
	<key>DATABASE_URL</key>
	<string>https://levestiaire-abeca-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>